* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  box-sizing: border-box;
  font-family: Helvetica;
}

::-webkit-scrollbar {
  display: none;

}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./assets/Login.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.registerpage {
  background: url('./assets/Login.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginpage {
  background: url('./assets/Login.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}