@tailwind base;
@tailwind components;
@tailwind utilities;



.logincard{
  width: 450px;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  border: 2px solid rgb(255, 255, 255);
  padding: 40px;
  border-radius: 10px;
  
}

.logincard h2{
  text-align:center;
  font-size:20px;
  color: #424240;
}

.registerpage h2{
  text-align:center;
  font-size:20px;
  color: #424240; 
}

.registerncard{
  width: 450px;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  border: 2px solid rgb(255, 255, 255);
  padding: 40px;
  border-radius: 10px;

}

.logincard .form-control{
  position: relative;
  width: 80%;
  height: 20px;
  margin: 30px auto;
 
}

.registerncard .form-control{
  position: relative;
  width: 80%;
  height: 20px;
  margin: 30px auto;
 
}
.form-control input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(49, 47, 47, 0.2);
  border-radius: 30px;
  font-size: 16px;
  color: #494646;
  padding: 20px 45px 20px 25px;
  
}

.form-control input::placeholder{
  color: #3d3d3d;
}


/* Botones de autenticación */
.auth-button {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  width: 100%;
  height: 50px;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.auth-google,
.auth-facebook {
  height: 100%;  
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.auth-google {
  background-color: #e49b0a;
  color: #ffffff;
  border: 1px solid rgba(194, 144, 8, 0.5);
  flex: 1;
  
}

.auth-google:hover {
  background-color: #cea916;
  color: #ffffff;
}

.auth-facebook {
  background-color: #131953;
  color: #ffffff;
 
  
}

.auth-facebook:hover {
  background-color: #263975;
  
}

.logincard .auth-button{
  position: relative;
  width: 40%;
  height: 30px;
  margin: 30px 10px;
  display: inline-block;
 
}

.logincard .recall-forget {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: -1px 0 15px;
}

.recall-forget label input {
  accent-color: #fff;
  margin-right: 10px;
}

.recall-forget a {
  color: #0e0e0e;
  text-decoration: none;
}

.recall-forget a:hover {
  text-decoration: underline;
}

.btn-primary {
  background-color: #cfa109; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  margin: 5px 20px; 
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.btn-primary:hover {
  background-color: #ccb77e; 
}



/* Botón de Registrarse */
.text-blue-500 {
  color: #151616; 
  
}

.text-blue-500:hover {
  text-decoration: underline; 
}


.text-center{
  color: #151616; 
  margin: 5px 50px; 
  font-size: 13px;
}

